<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div id="app">
      <!-- basic interpolation -->
      <p>{{ message1 }}</p>
      <p>{{ message2 }}</p>

      <!-- basic view binding -->
      <span v-bind:title="message3">
        Hover over me so you can see the title!
      </span>
      <br>
      <!-- basic conditional statement -->
      <span v-if="seen">
        If true then show me.
      </span>

      <!-- basic for loops -->
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <script src="js/index.js"></script>
  </body>
</html>
